[submodule "build"]
	path = build
	url = https://github.com/crossplane/build

[submodule "terraform-provider-proxmox"]
	path = third_party/terraform-provider-proxmox
	url = https://github.com/joekky/terraform-provider-proxmox.git
	branch = main
